process {
  executor = 'sge'
  penv = 'multislot'
  queue = 'all.q'

  withLabel:process_low {
    cpus = 2
    memory = 3.GB
    time = '30d'
  }

  withLabel:process_medium {
    cpus = 4
    memory = 5.GB
    time = '30d'
  }

  withLabel:process_high {
    cpus = 8
    memory = 8.GB
    time = '30d'
  }

  cleanup = true
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/vol/projects/CIIM/resources/tools/singularity_scratch"
}

executor {
  queueSize = "50"
}
